.card-text {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 20px !important;
}

.hide-list {
  visibility: hidden;
}

.spacing-big {
  padding-top: 400px;
}

@media all and (max-width: 635px) {
  .hide-list {
    visibility: visible;
    justify-content: center;
    align-items: center;
  }

  .show-the-thing {
    display: none;
  }
}
